<nav class="ti-navbar-container navbar">
  <div class="container">
      <div class="row">
             <div class="navbar-header">     
      <a class="navbar-brand" href="#">
        <img src="assets/images/templesin-brand-logo.png" width="163" height="46" />
      </a>
    </div>
    <div>
      <ul class="ti-navbar nav navbar-nav pull-left">
        <li class="active"><a href="#/home">Temples</a></li>
        <li><a href="#about">Store</a></li>
        <li><a href="#contact">News</a></li>
      </ul>
      <div class="pull-right ti-user-access">
        <a class="btn btn-default ti-btn-fill"> Sign up </a>
        <a class="btn btn-default ti-btn-outline"> Login </a>
      </div>
    </div>
      </div>
   </div>
</nav>