<div class="ti-cauousel">
    <div class="ti-search-container">
        <div class="ti-search-sc">
            <div class="ti-search">
                <div class="selected-location">
                    <span>Search with in</span>
                    <span>Hyderabad</span>
                </div>                
                <button class="ti-search-btn"></button>                
                <input type="search" placeholder="Location, Temple or Deity" />
           </div>
        <div class="ti-search-example">eg. Khairathbad or Puri Jagannath temple</div>
        </div>        
    </div>
    <div class="tic-top-shadow"></div>
    <div uib-carousel active="active" interval="3000">
      <div uib-slide  index="0">
        <img src="assets/images/temple-banner-1.jpg"/>        
      </div>
      <div uib-slide index="1">
        <img src="assets/images/temple-banner-1.jpg" />        
      </div>
      <div uib-slide index="2">
        <img src="assets/images/temple-banner-1.jpg" />        
      </div>
      <div uib-slide index="3">
        <img src="assets/images/temple-banner-1.jpg" />        
      </div>
    </div>
    <div class="tic-bottom-shadow"></div>
</div>

<div class="container">
    <div class="row">
        <div class="ti-home-secion-headings">
			<h1 class="pull-left">
                <span> Popular</span>  Temples
            </h1>
			<div class="pull-right">
                <a href="#" class="view-all-btn-small">
                    View all
                </a> 
            </div>
		</div>
    </div>
</div>

<div class="container nopadding">
    <div class="row">        
        <div class="col-md-3">
            <div class="ti-home-list-item">
                <div class="ti-hli-img">
                    <img src="assets/images/temple1.jpg" alt="1" >
                </div>
                <div class="ti-hli-title">
                    <span>Jagannath Temple</span>
                    <span>Banjara hills</span>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="ti-home-list-item">
                <div class="ti-hli-img">
                    <img src="assets/images/temple2.jpg" alt="1" >
                </div>
                <div class="ti-hli-title">
                    <span>Sangi Temple</span>
                    <span>Chilukuru</span>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="ti-home-list-item">
                <div class="ti-hli-img">
                    <img src="assets/images/temple3.jpg" alt="1" >
                </div>
                <div class="ti-hli-title">
                    <span>Keesara Gutta</span>
                    <span>Keesara Gutta</span>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="ti-home-list-item">
                <div class="ti-hli-img">
                    <img src="assets/images/temple4.jpg" alt="1" >
                </div>
                <div class="ti-hli-title">
                    <span>Birala Mandir</span>
                    <span>Secunderabad</span>
                </div>
            </div>
        </div>       
    </div>    
</div>

<div class="container">
    <div class="row">
        <div class="ti-home-secion-headings">
			<h1 class="pull-left">
                <span> Historical </span>  Temples
            </h1>
			<div class="pull-right">
                <a href="#" class="view-all-btn-small">
                    View all
                </a> 
            </div>
		</div>
    </div>
</div>

<div class="container nopadding">
    <div class="row">        
        <div class="col-md-3">
            <div class="ti-home-list-item">
                <div class="ti-hli-img">
                    <img src="assets/images/temple5.jpg" alt="1" >
                </div>
                <div class="ti-hli-title">
                    <span>Sri Rama Chandra Temple</span>
                    <span>Amma Palli</span>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="ti-home-list-item">
                <div class="ti-hli-img">
                    <img src="assets/images/temple6.jpg" alt="1" >
                </div>
                <div class="ti-hli-title">
                    <span>Balaji Temple</span>
                    <span>Chilukuru</span>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="ti-home-list-item">
                <div class="ti-hli-img">
                    <img src="assets/images/temple7.jpg" alt="1" >
                </div>
                <div class="ti-hli-title">
                    <span>Narasimha Swamy Temple</span>
                    <span>Yadagiri gutta</span>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="ti-home-list-item">
                <div class="ti-hli-img">
                    <img src="assets/images/temple8.jpg" alt="1" >
                </div>
                <div class="ti-hli-title">
                    <span>Jain Temple</span>
                    <span>Secunderabad</span>
                </div>
            </div>
        </div>       
    </div>    
</div>


