<div class="ti-cauousel">
    <div class="tic-top-shadow"></div>
    <div uib-carousel active="active" interval="3000">
      <div uib-slide  index="0">
        <img src="assets/images/temple-banner-1.jpg" height="100%" width="100%" />        
      </div>
      <div uib-slide index="1">
        <img src="assets/images/temple-banner-1.jpg" height="100%" width="100%" />        
      </div>
      <div uib-slide index="2">
        <img src="assets/images/temple-banner-1.jpg" height="100%" width="100%" />        
      </div>
      <div uib-slide index="3">
        <img src="assets/images/temple-banner-1.jpg" height="100%" width="100%" />        
      </div>
    </div>
    <div class="tic-bottom-shadow"></div>
</div>